img {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  opacity: 0.8;
}

img:hover {
  opacity: 1.0;
  cursor: pointer;
}

p {
  color: white;
  font-family: "Hind";
  font-size: 1.3em;
  text-align: center;
  white-space: pre-wrap
}



h1 {
  color: white;
  padding-right: 1.5em;
  line-height: 2em;
  font-family: "Josefin Sans";
  font-size: 2em;
  font-weight: 400;
  display: inline;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

h2 {
  color: white;
  padding-top: 1em;
  padding-left: 1em;
  font-family: "Josefin Sans";
  font-size: 0.75em;
  font-weight: 300;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

h2:hover {
  cursor: pointer;
  color: #000;
}

h3 {
  font-family: "Josefin Sans";
  font-size: 1em;
  padding-right: 1em;
  cursor:pointer;
  text-align: center;
  font-weight: 300;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

h4 {
  font-family: "Josefin Sans";
  font-size: 3em;
  text-align: center;
  cursor:pointer;
  font-weight: 300;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

h5 {
  font-family: "Josefin Sans";
  font-size: 5em;
  text-align: center;
  font-weight: 300;
}

h6 {
  font-family: "Josefin Sans";
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

img {
  float: left;
}

ol {
  list-style-type: none;
}

li {
  color: white;
  position: relative;
  display: inline;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-size: 0.75em;
  font-weight: 300;
  cursor:pointer;
  margin-right: 0.5em;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #707070;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

li:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(0.9);
  transform: scaleX(0.9);
}

li:hover{
  color: #707070;
}


.title {
  position: absolute;
  display: none;
  text-indent: -3em;
  left: 3em;
  border-bottom: 1px solid #FFF;
}

.header {
  position: absolute;
  display: none;
  top: 1em;
  right: 0.5em;
  width: 20em;
  padding-bottom: -3em;
}


#AboutContainer {
  position: absolute;
  display: flex;
  width: 30em;
  top: 5%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#AboutNav {
  position: absolute;
  display: none;
  top: 4em;
  left: 8em;
}

#Music {
  position: absolute;
  display: none;
  left: 1em;
  bottom: 1em;
  border-left: 1px solid white;
}

#Welcome {
  position: relative;
  width: 40em;
  top: 40%;
  margin: 0 auto;
  display: none;
}
